# roles/homepage/templates/bookmarks.yaml.j2
---
- Development:
    - GitHub:
        - icon: github.png
          href: {{ homepage_bookmarks_github_url | default('https://github.com/') }}
    - Pinepods:
        - icon: github.png
          href: https://github.com/madeofpendletonwool/pinepods
          description: Pinepods Podcast Management
    - Documentation:
        - icon: kubernetes.png
          href: {{ homepage_bookmarks_docs_url | default('https://kubernetes.io/docs/home/') }}
          description: Kubernetes Documentation

- Cloud & Infrastructure:
    - Vercel:
        - icon: vercel.png
          href: vercel.com
          description: Site Deployment
    - Tailscale:
        - icon: tailscale.png
          href: https://tailscale.com
          description: DNS & CDN Management

- Monitoring & Logs:
    - Prometheus:
        - icon: prometheus.png
          href: {{ homepage_prometheus_url }}
          description: Notifications
    - Alert Manager:
        - icon: prometheus.png
          href: {{ homepage_alert_manager_url }}
          description: Notifications

- Network Management:
    - PF Sense Local:
        - icon: pfsense.png
          href: {{ homepage_router_onsite_url }}
          description: Network Gateway
    - PF Sense Offsite:
        - icon: pfsense.png
          href: {{ homepage_router_offsite_url }}
          description: Network Gateway

- Helpful Tools:
    - Pinetools::
        - icon: https://pinetools.com/files/favicon.ico
          href: https://pinetools.com
          description: Helpful online tools for pretty much anything