# roles/homepage/templates/bookmarks.yaml.j2
---
- Development:
    - GitHub:
        - icon: github.png
          href: {{ homepage_bookmarks_github_url | default('https://github.com/') }}
    - Pinepods:
        - icon: github.png
          href: https://github.com/madeofpendletonwool/pinepods
          description: Pinepods Podcast Management
    - Documentation:
        - abbr: DC
          href: {{ homepage_bookmarks_docs_url | default('https://kubernetes.io/docs/home/') }}
          description: Kubernetes Documentation

- Cloud & Infrastructure:
    - Vercel:
        - icon: vercel.png
          href: vercel.com
          description: Site Deployment
    - Tailscale:
        - icon: tailscale.png
          href: https://tailscale.com
          description: DNS & CDN Management

- Homelab Management:
    - Proxmox:
        - abbr: PX
          href: {{ homepage_proxmox_url | default('https://proxmox.local:8006') }}
          description: Virtual Infrastructure Manager
    - Portainer:
        - icon: portainer.png
          href: {{ homepage_portainer_url | default('https://portainer.local') }}
          description: Container Management
    - Kubernetes Dashboard:
        - abbr: K8
          href: {{ homepage_k8s_dashboard_url | default('https://kubernetes.local') }}
          description: Kubernetes Cluster Management

- Monitoring & Logs:
    - Grafana:
        - icon: grafana.png
          href: {{ homepage_grafana_url | default('https://grafana.collinpendleton.com') }}
          description: Metrics & Dashboards
    - Prometheus:
        - icon: prometheus.png
          href: {{ homepage_prometheus_url | default('https://ntfy.collinpendleton.com') }}
          description: Notifications

- Network Management:
    - PF Sense Local:
        - abbr: RT
          href: {{ homepage_router_url | default('http://10.0.0.1') }}
          description: Network Gateway
    - PF Sense Offsite:
        - abbr: RT
          href: {{ homepage_router_url | default('http://10.1.0.1') }}
          description: Network Gateway
    - Pi-hole Secondary:
        - icon: pihole.png
          href: {{ homepage_pihole_url | default('https://10.0.0.2/admin') }}
          description: Network-wide Ad Blocking