# roles/homepage/templates/services.yaml.j2
---
- Media:
{% if homepage_jellyfin_enabled | default(true) %}
    - Jellyfin:
        icon: jellyfin.png
        href: "{{ homepage_jellyfin_url }}"
        description: Media Server
        widget:
          type: jellyfin
          url: "{{ homepage_jellyfin_url }}"
          key: "{{ homepage_jellyfin_api_key }}"
          enableBlocks: true
          enableNowPlaying: true
          enableUser: true
          showEpisodeNumber: true
          fields: ["movies", "series", "episodes", "songs"]
{% endif %}
    - FreshRSS:
        icon: freshrss.png
        href: "{{ homepage_freshrss_url }}"
        description: RSS Aggregator
        widget:
          type: freshrss
          url: "{{ homepage_freshrss_url }}"
          username: "{{ freshrss_username }}"
          password: "{{ freshrss_password }}"
    - Navidrome:
        icon: navidrome.png
        href: "{{ navidrome_url }}"
        description: Music Server
        widget:
          type: navidrome
          url: "{{ navidrome_url }}"
          user: "{{ navidrome_user }}"
          token: "{{ navidrome_token }}"
          salt: "{{ navidrome_salt }}"
# Add this to your services.yaml file under appropriate section
    - PinePods:
        icon: https://try.pinepods.online/static/assets/favicon.png
        href: "{{ pinepods_url }}"
        description: Pinepods Podcast Server
        widget:
          type: customapi
          url: "{{ pinepods_url }}/api/data/get_stats?user_id=2"
          headers:
            api-key: "{{ pinepods_api }}"
            Content-Type: "application/json"
          refreshInterval: 300000  # Refresh every 5 minutes
          mappings:
            - field: PodcastsPlayed
              label: "Podcasts Played"
              format: number
            - field: TimeListened
              label: "Time Listened"
              format: number
              suffix: " minutes"
            - field: PodcastsAdded
              label: "Podcasts Added"
              format: number
            - field: EpisodesSaved
              label: "Episodes Saved"
              format: number
            - field: EpisodesDownloaded
              label: "Episodes Downloaded"
              format: number


- Infrastructure:
    - Kubernetes Dashboard:
        icon: kubernetes.png
        href: "{{ homepage_k8s_dashboard_url }}"
        description: Cluster Management
        widget:
          type: kubernetes
          cluster: {{ homepage_k8s_cluster_name | default('homelab') }}
    - Pi-Hole Rasp:
        icon: pi-hole.png
        href: "{{ homepage_pihole_url }}"
        description: Cluster Management
        widget:
          type: pihole
          url: "{{ homepage_pihole_url }}"
          version: 5 # required if running v6 or higher, defaults to 5
          key: "{{ pihole_key }}"
    - Pi-Hole VM:
        icon: pi-hole.png
        href: "{{ homepage_pihole_url_2 }}"
        description: Cluster Management
        widget:
          type: pihole
          url: "{{ homepage_pihole_url_2 }}"
          version: 5 # required if running v6 or higher, defaults to 5
          key: "{{ pihole_2_key }}"
    - Uptime Kuma:
        icon: uptime-kuma.png
        href: "{{ uptime_kuma_url }}"
        description: Cluster Management
        widget:
          type: uptimekuma
          url: "{{ uptime_kuma_url }}"
          slug: pinepods-services

    - Traefik:
        icon: traefik.png
        href: "{{ traefik_url }}"
        description: Ingress Dashboard
        ping: "{{ traefik_url }}"
    - Proxmox - 11:
        icon: proxmox.png
        href: "{{ homepage_proxmox_url_11 }}"
        description: Virtualization Platform
        ping: "{{ homepage_proxmox_host_11 }}"
    - Proxmox - 12:
        icon: proxmox.png
        href: "{{ homepage_proxmox_url_12 }}"
        description: Virtualization Platform
        ping: "{{ homepage_proxmox_host_12 }}"
    - Proxmox - 13:
        icon: proxmox.png
        href: "{{ homepage_proxmox_url_13 }}"
        description: Virtualization Platform
        ping: "{{ homepage_proxmox_host_13 }}"

{% if homepage_monitoring_enabled | default(true) %}
- Monitoring:
    - Grafana:
        icon: grafana.png
        href: "{{ homepage_grafana_url }}"
        description: Metrics & Dashboards
        widget:
          type: grafana
          url: "{{ homepage_grafana_url }}"
          username: "{{ grafana_username }}"
          password: "{{ grafana_password}}"
    - Ntfy:
        icon: ntfy-light.png
        href: "{{ ntfy_url }}"
        description: Notifications
        container: ntfy
        widget:
          type: customapi
          url: "{{ ntfy_url }}/v1/stats"
          mappings:
            - field: messages
              label: Messages
              format: number
            - field: messages_rate
              label: Messages/s
              format: number
{% endif %}

- Storage:
    - TruNas:
        icon: truenas.png
        href: "{{ trunas_url }}"
        description: Cluster Management
        widget:
          type: truenas
          url: "{{ trunas_url }}"
          username: "{{ trunas_user }}"
          password: "{{ trunas_pass }}"
          enablePools: false
          nasType: scale
    - Rook Ceph:
        icon: ceph.png
        href: "{{ rook_ceph_url }}"
        description: HA Block Storage
        ping: "{{ rook_ceph_url }}"

- Life and Services:
    - Baby Buddy:
        icon: babybuddy.png
        href: "{{ baby_buddy_url }}"
        description: Tool to help with Baby Scheduling
        ping: "{{ baby_buddy_url }}"
    - oPodSync:
        icon: podgrab.png
        href: "{{ opodsync_url }}"
        description: Podcast Subscription Sync between Apps
        ping: "{{ opodsync_url }}"
    - Syncthing:
        icon: syncthing.png
        href: "{{ syncthing_url }}"
        description: File Sync between computers
        ping: "{{ syncthing_url }}"
    - Searxng:
        icon: searxng.png
        href: "{{ searxng_url }}"
        description: Google but not Google
        ping: "{{ searxng_url }}"
