apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik-deployment
  namespace: ingress-traefik
  labels:
    app: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-account
      containers:
        - name: traefik
          image: traefik:v3.1
          args:
            - --providers.kubernetesIngress
            - --providers.kubernetesCRD
            - --api.dashboard=true
            - --api.insecure=true
            - --entryPoints.web.address=:80
            - --entryPoints.websecure.address=:443
            - --certificatesresolvers.default.acme.tlschallenge
            - --certificatesResolvers.default.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
            - --certificatesResolvers.default.acme.email=rgallenberg@3rtnetworks.com
            - --certificatesResolvers.default.acme.storage=/acme/acme.json
            - --log.level=DEBUG
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
          volumeMounts:
            - name: acme
              mountPath: /acme
      volumes:
        - name: acme
          persistentVolumeClaim:
            claimName: traefik-acme-pvc
