apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: traefik-daemonset
  namespace: ingress-traefik
  labels:
    app: traefik
spec:
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-account
      containers:
        - name: traefik
          image: traefik:v3.1
          args:
            - --providers.kubernetesIngress
            - --providers.kubernetesCRD
            - --api.dashboard=true
            - --api.insecure=true
            - --entryPoints.web.address=:80
            - --entryPoints.websecure.address=:443
            - --entryPoints.dashboard.address=:8081
            - --entryPoints.pinepods.address=:8069
            - --entryPoints.smtp.address=:25
            - --certificatesResolvers.default.acme.email=rgallenberg@3rtnetworks.com
            - --certificatesResolvers.default.acme.storage=/acme/acme.json
            - --certificatesResolvers.default.acme.httpChallenge.entryPoint=web
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: dashboard
              containerPort: 8081
            - name: pinepods
              containerPort: 8069
            - name: smtp
              containerPort: 25
          volumeMounts:
            - name: acme
              mountPath: /acme
      volumes:
        - name: acme
          persistentVolumeClaim:
            claimName: traefik-acme-pvc
